menu "Reflect Configuration"

    config WIFI_NAME
        string "WiFi Name"
        default ""
        help
            Enter your Wifi network name

    config WIFI_PASSWORD
        string "WiFi Password"
        default ""
        help
            Enter your Wifi network password

    config OPENAI_API_KEY
        string "OpenAI API Key"
        default ""
        help
            Enter your OpenAI API Key

    config OPENAI_REALTIME_API_URL
        string "OpenAI Realtime API URL"
        default "https://api.openai.com/v1/realtime/calls?model=gpt-realtime"
        help
            Enter the OpenAI Realtime API Url


endmenu
